.table {
    border-collapse: collapse;
}
.table td {
    border: 10px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
}

.game-over {
    font-size: 1.5em;
    margin-top: 20px;
    color: red;
}